<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 밑줄표기법의 컬럼명을 낙타표기법의 변수명과 자동맵핑 -->
	</settings>
	
	<!-- 마이바티스 설정파일에서 사용하기 쉽게 미리 alias하는 것 -->
	<typeAliases>
		<typeAlias alias="MemberVO" type="com.exam.member.MemberVO"/>
		<typeAlias alias="StudentVO" type="com.exam.student.StudentVO"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
	      <transactionManager type="JDBC"/>
	      <dataSource type="POOLED"> <!-- DB의 접속 정보. 미리 로그인 해두고 원하는 DB를 제공함. -->
	        <property name="driver" value="oracle.jdbc.OracleDriver"/>
	        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
	        <property name="username" value="web"/>
	        <property name="password" value="web1234"/>
	      </dataSource>
	    </environment>
	</environments>
  
  <mappers> <!-- 마이바티스를 통해서 실행할 SQL문들을 정의해놓은 XML파일들 -->
    <mapper resource="mybatis/MemberMapper.xml"/>
    <mapper resource="mybatis/StudentMapper.xml"/>
  </mappers><!-- 이 마이바티스 설정파일은 프로젝트에 하나만 있다. 테이블이 추가되면 여기에 맵퍼 지정만 추가해주면 되는 것.ㅣ  -->
  
</configuration>
